<form action="/answer">
  <label for="inputQuestion">Ask your coach anything:</label>
  <input type="text" name="question" value="<%= params[:question] %>">
  <input class="button" type="submit" value="Ask">
</form>
